<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930648767895-irsnsoje0fdds1f3vevm77j62fa89vb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930648767895-irsnsoje0fdds1f3vevm77j62fa89vb9</string>
	<key>API_KEY</key>
	<string>AIzaSyCi0pkjVO7iXvbEqZuEWI8AznqiYvYZa1U</string>
	<key>GCM_SENDER_ID</key>
	<string>930648767895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myProdject.ToDoTapMVC</string>
	<key>PROJECT_ID</key>
	<string>todotapmvc-8216c</string>
	<key>STORAGE_BUCKET</key>
	<string>todotapmvc-8216c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930648767895:ios:22d42b1fac7e8f064a58d2</string>
</dict>
</plist>